* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 207, 207);
  font-family: 'Radio Canada', sans-serif;
  height: 100vh;
  /* border: 2px solid red; */
}

.score-container {
  display: grid;
  justify-content: center;
  /* border: 2px solid green; */
}

.score {
  margin-top: 50px;
  font-size: 32px;
}

.questions-container {
  height: 65%;
  display: grid;
  place-items: center;
  /* position: relative; */
}

.question {
  background-color: #062abc;
  color: #fff;
  padding: 25px 35px;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: -100px;
}

.answer-options {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
}

.option,
.reset {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 100vw;
  border: none;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.reset {
  font-size: 20px;
  padding: 30px 50px;
}

.option:hover,
.reset:hover {
  cursor: pointer;
}

.correct {
  background-color: #40c057;
}

.incorrect {
  background-color: #f03e3e;
  color: #fff;
}

.hidden {
  display: none;
}
