* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 207, 207);
  font-family: "Radio Canada", sans-serif;
  height: 100vh;
  /* border: 2px solid red; */
}

.score-container {
  display: grid;
  justify-content: center;
  /* border: 2px solid green; */
}

.score {
  margin-top: 50px;
  font-size: 32px;
}

.questions-container {
  height: 60%;
  display: grid;
  place-items: center;
  /* border: 2px solid blue; */
}

.question {
  background-color: #062abc;
  color: #fff;
  padding: 25px 35px;
  font-size: 24px;
  border-radius: 10px;
}
